.logo {
  background-color: #4b1979;
  width: 105px;
  height: 35px;
  margin-left: 136px;
}

.navbar {
  width: 100%;
  display: flex;
  position: sticky;
  max-height: 84px;
  color: black;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.searchBar {
  width: 400px;
  display: flex;
  border-radius: 16px;
  padding-left: 10px;
  height: 35px;
  background-color: #eeeeee;
  border-color: #eeeeee;
  margin-left: 0;
  break-inside: inherit;
  position: relative;
}

.test {
  justify-content: right;
}

.searchIcon {
  display: flex;
  position: absolute;
  padding: 10px;
  padding-right: 10px;
  color: #8a8a8a;
}

.menu,
.nav {
  margin-right: 136px;
}

.button-menu {
  background-color: #7126b5;
  display: flex;
  border-radius: 12px;
  width: 105px;
  height: 35px;
  justify-content: space-around;
  color: #ffffff;
  border-color: #7126b5;
}

.NavLink {
  margin-left: -250px;
}

p,
.menu {
  font-size: 16px;
  font-weight: 400;
}

.link {
  border-color: #151515;
}

.link:hover {
  color: #7126b5;
}

.button-fa {
  background: #ffffff;
  border-color: #ffffff;
}

.card-items {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 10%;
}

.card-img-top {
  object-fit: cover;
  border-radius: 4px;
  margin-top: 5%;
  width: 90%;
  text-align: center;
}

.card-product {
  top: 10px;
  width: 430px;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-bargain {
  top: 10px;
  width: 430px;
  height: 230px;
  border-radius: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.card-seller1 {
  width: 100%;
  height: 50%;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.seller-card {
  width: 430px;
  height: 85px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.card-desc {
  top: 30px;
  width: 90%;
  height: 100%;
  margin-left: 5%;
  border-radius: 16px;
  line-height: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.button-seller {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  background-color: #7126b5;
  border-color: #7126b5;
  color: white;
  border-radius: 16px;
}

.button-seller:hover {
  background-color: #7126b5;
  color: white;
  border-color: #7126b5;
}

.button-seller-outline {
  justify-content: center;
  width: 95%;
  height: 50px;
  margin: 10px;
  border-color: #7126b5;
  color: black;
  border-radius: 16px;
}

.button-seller-outline:hover {
  background-color: #7126b5;
  color: white;
  border-color: #7126b5;
}

.seller-btn {
  background-color: white;
  border: 1px solid #7126b5;
  color: black;
  border-radius: 12px;
  transition: all 0.2s;
  text-decoration: none;
  padding: 0.2em 0.5em;
}

.seller-btn:hover {
  background-color: #7126b5;
  text-decoration: none;
  color: white;
}

.card.seller .seller__cta {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.active {
  color: #7126b5;
}

.text-decoration {
  text-decoration: none;
}

.link {
  color: black;
}

.li {
  text-decoration: none;
  list-style-type: none;
}

.content.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  /* Neutral/02 */
  border: 1px dashed #d0d0d0 !important;
  color: #8a8a8a;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
}

.content {
  cursor: pointer;
  min-height: 246px;
  transition: box-shadow 0.2s;
}

.content:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.content .card-title {
  font-size: 0.875rem;
  font-weight: 400;
}

.content .card-text {
  font-size: 0.625rem;
  font-weight: 400;
  color: #8a8a8a;
}

.content .card-price {
  font-size: 0.875rem;
  font-weight: 400;
}
